<h1 class="center">Listing all Articles</h1>
<%= render 'shared/paginate', obj: @category_articles %>
<%= render 'articles/article', obj: @category_articles %>
<%= render 'shared/paginate', obj: @category_articles %>