<% if obj.errors.any? %>
  <div class='row'>
    <div class="col-xs-8 col-xs-offset-2">
      <div class="panel panel-danger">
        <div class="panel-heading">
          <h3 class="panel-title">
            <%= pluralize(obj.errors.count, "error") %>
            prevented successful save:
          </h3>
        </div>
        <div class="panel-body">
          <% obj.errors.full_messages.each do |msg| %>
            <ul>
              <li><%= msg %></li>  
            </ul>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>