<!DOCTYPE html>
<html>
<head>
  <title>test</title>
</head>
<body>
  <img src="http://designmodo.com/wp-content/uploads/2014/10/hero-header-image.jpg" align=center>
  <%= link_to 'About', about_path %>
</body>

</html>